body {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #3d4e60;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-family: 20px;
}
.related {
  list-style: none;
}
#auther {
  font-size: 18px;
  font-style: italic;
}
.related-auther {
  font-size: 18px;
  font-weight: bold;
}
#Copyright {
  font-size: 16px;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
}

a:link {
  color: #109bab;
  text-decoration: none;
}
a:visited {
  color: #109bab;
}
a:hover {
  color: #13bec4;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: black;
  font-style: italic;
}
